.gradle/*
course-info.yaml
course-remote-info.yaml
.idea/*
Chuck Norris Cipher Encoder (Java)/task/build/*
gradle/wrapper/*
Chuck Norris Cipher Encoder (Java)/task/out/production/classes/chucknorris/Util.class






