.gradle/*
course-info.yaml
course-remote-info.yaml
.idea/*
Chuck Norris Cipher Encoder (Java)/task/build/*
Chuck Norris Cipher Encoder (Java)/task/out/production/classes/chucknorris/Parser.class
Chuck Norris Cipher Encoder (Java)/task/out/production/classes/chucknorris/Util.class
gradle/wrapper/*
Chuck Norris Cipher Encoder (Java)/task/out/production/classes/*




